footer {
  background-color: #232f3e;
  color: white;
  margin-top: auto;
}

.footer-link {
  text-decoration: none;
  color: #ddd;
  transition: color 0.2s;
}

.footer-link:hover {
  text-decoration: underline;
  color: #fff;
}

#footer-logo {
  width: 100px;
  height: 50px;
  filter: brightness(0) invert(1);
}

footer ul {
  padding-left: 0;
}

footer li {
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  footer .col-6 {
    margin-bottom: 1.5rem;
  }
}
