.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}

#background-div {
  background: url('../assets/home.jpg');
}

#heading {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  opacity: 0.8;
}

#content {
  opacity: 0.8;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}
