footer {
  margin-top: 100px;
  background-color: #232F3E;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

li {
  padding-left: 0;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.footer-link {
  color: #DDD;
}

#footer-logo {
  width: 150px;
}
